<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://unpkg.com/chota@latest">

        <link rel="icon" type="image/png" href="https://www.thelearningsetu.com/static/img/logo_v2_favicon.png">

    </head>

    <body>

        <div class="row" style="width:100%;"> 
            <div class="col-2"> </div>
            <div class="col-8 text-center">

                <div>
                <br>
                <br>
                <br>
                  <h3>Something Went Wrong.</h3> 
                  <p> Go to <a href="/">Home</a></p>

                  </div>
            </div>

            <div class="col-2"> </div>

        </div>
        

    </body>

</html>